body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.heading {
    text-align: center;
}

.section {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #ccc;
}

.form-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}

label {
    flex: 1;
    margin-right: 5px;
}

input {
    flex: 2;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #3498db;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #2980b9;
}

select {
    width: 70%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    color: #333;
}

/* Apply styles to the <option> elements */
select option {
    font-size: 14px;
    background-color: #f0f0f0;
    color: #333;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Apply styles to the <option> elements when hovered */
select option:hover {
    background-color: #3498db;
    color: #fff;
}

#result {
    color: #4CAF50; /* Green text color */
    padding: 10px; /* Add padding for spacing */
}

#error {
    color: #FF0000; /* Red text color */
    padding: 10px; /* Add padding for spacing */
}
